body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: 0px auto;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
    border-style: solid;
    display: block;
    cursor: pointer;
}

.chords-options {
    display: flex;
}

.chords-row{
    display: flex;
    justify-content: space-between;
}

.selected-chord{
    border: red solid 1px;
}